In [15]:
import pandas as pd
import re
import os

# Realtor.com

This is the Realtor.com, Historical Data, All Residential Inventory from [this page](https://www.realtor.com/research/data/) and [this specific link](https://econdata.s3-us-west-2.amazonaws.com/Reports/Core/RDC_Inventory_Core_Metrics_Zip_History.csv)

In [2]:
usa = pd.read_csv('gs://datacamp-202518.appspot.com/data/rei/realtor/RDC_Inventory_Core_Metrics_Zip_History.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (0,1,3,14,17,20,23,26,29) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
usa.shape

(607530, 40)

In [4]:
list(usa)

['month_date_yyyymm',
 'postal_code',
 'zip_name',
 'flag',
 'median_listing_price',
 'median_listing_price_mm',
 'median_listing_price_yy',
 'active_listing_count',
 'active_listing_count_mm',
 'active_listing_count_yy',
 'median_days_on_market',
 'median_days_on_market_mm',
 'median_days_on_market_yy',
 'new_listing_count',
 'new_listing_count_mm',
 'new_listing_count_yy',
 'price_increased_count',
 'price_increased_count_mm',
 'price_increased_count_yy',
 'price_reduced_count',
 'price_reduced_count_mm',
 'price_reduced_count_yy',
 'pending_listing_count',
 'pending_listing_count_mm',
 'pending_listing_count_yy',
 'median_listing_price_per_square_feet',
 'median_listing_price_per_square_feet_mm',
 'median_listing_price_per_square_feet_yy',
 'median_square_feet',
 'median_square_feet_mm',
 'median_square_feet_yy',
 'average_listing_price',
 'average_listing_price_mm',
 'average_listing_price_yy',
 'total_listing_count',
 'total_listing_count_mm',
 'total_listing_count_yy',
 'pending_ratio',
 'pending_ratio_mm',
 'pending_ratio_yy']

In [5]:
usa.head(10)

,month_date_yyyymm,postal_code,zip_name,flag,median_listing_price,median_listing_price_mm,median_listing_price_yy,active_listing_count,active_listing_count_mm,active_listing_count_yy,...,median_square_feet_yy,average_listing_price,average_listing_price_mm,average_listing_price_yy,total_listing_count,total_listing_count_mm,total_listing_count_yy,pending_ratio,pending_ratio_mm,pending_ratio_yy
0,202003,1001,"agawam, ma",*,372388.5,0.4130,0.683492,23.0,-0.2813,-0.439024,...,0.127038,369703.0,0.1397,0.378571,29.0,-0.2564,-0.369565,0.2609,0.0421,0.138949
1,202003,1002,"amherst, ma",*,475050.0,-0.1021,-0.072621,56.0,0.3023,0.066667,...,0.006233,501969.0,-0.0230,-0.061690,71.0,0.3922,0.154472,0.2679,0.0818,0.096471
2,202003,1007,"belchertown, ma",NaN,379950.0,-0.0246,0.059020,33.0,0.0645,-0.232558,...,-0.022353,359523.0,0.0050,0.031887,39.0,0.1818,-0.204082,0.1818,0.1173,0.042265
3,202003,1020,"chicopee, ma",*,250050.0,0.0040,0.205913,26.0,-0.1034,-0.341772,...,0.111953,275029.0,0.0568,0.188048,32.0,-0.0857,-0.304348,0.2308,0.0239,0.066243
4,202003,1028,"east longmeadow, ma",*,379950.0,0.0408,0.225843,41.0,0.1714,-0.098901,...,0.332991,425640.0,0.0446,0.116660,46.0,0.1795,-0.171171,0.1220,0.0077,-0.097780
5,202003,1033,"granby, ma",*,436050.0,0.1784,0.389912,15.0,-0.2105,-0.230769,...,-0.017464,370413.0,0.0644,0.142617,16.0,-0.2000,-0.219512,0.0667,0.0140,0.015418
6,202003,1034,"granville, ma",NaN,265050.0,0.0000,-0.263648,14.0,0.0769,-0.034483,...,-0.318070,291808.0,0.0212,-0.285459,14.0,0.0000,-0.066667,0.0000,-0.0769,-0.034483
7,202003,1040,"holyoke, ma",*,194050.0,-0.0295,-0.039594,23.0,-0.1481,-0.258065,...,-0.000299,233980.0,0.0411,0.103919,32.0,-0.1111,-0.179487,0.3913,0.0580,0.133235
8,202003,1056,"ludlow, ma",NaN,287450.0,0.1500,0.033249,40.0,0.1765,0.111111,...,0.010968,304913.0,0.0165,0.102331,48.0,0.2973,0.170732,0.2000,0.1118,0.061111
9,202003,1057,"monson, ma",*,367950.0,0.0514,0.320355,17.0,-0.1053,-0.320000,...,-0.009793,358905.0,0.0196,0.211772,20.0,0.0000,-0.259259,0.1765,0.1238,0.096500

In [6]:
# starting with the state of Massachusetts
ma = usa[usa["zip_name"].str.contains(',\sma', na=False)]
ri = usa[usa["zip_name"].str.contains(',\sri', na=False)]
nh = usa[usa["zip_name"].str.contains(',\snh', na=False)]

In [7]:
print (ma.shape)
print (ri.shape)
print (nh.shape)

(13048, 40)
(2380, 40)
(5211, 40)

In [8]:
ma[["town","state"]] = ma.zip_name.str.split(",",expand=True)
ri[["town","state"]] = ri.zip_name.str.split(",",expand=True)
nh[["town","state"]] = nh.zip_name.str.split(",",expand=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [9]:
# dropping colument that we don't need
ma.drop([ \
         'flag',\
         'zip_name',\
         'active_listing_count',\
         'active_listing_count_mm',\
         'active_listing_count_yy',\
         'median_listing_price_mm',\
         'median_listing_price_yy',\
         'median_days_on_market_mm',\
         'median_days_on_market_yy',\
         'new_listing_count',\
         'new_listing_count_mm',\
         'new_listing_count_yy',\
         'price_increased_count',\
         'price_increased_count_mm',\
         'price_increased_count_yy',\
         'price_reduced_count',\
         'price_reduced_count_mm',\
         'price_reduced_count_yy',\
         'pending_listing_count',\
         'pending_listing_count_mm',\
         'pending_listing_count_yy',\
         'pending_ratio_yy',\
         'median_square_feet',\
         'median_square_feet_mm',\
         'median_square_feet_yy',\
         'average_listing_price',\
         'average_listing_price_mm',\
         'average_listing_price_yy',\
         'total_listing_count',\
         'median_listing_price_per_square_feet_mm',\
         'median_listing_price_per_square_feet_yy',\
         'total_listing_count_mm',\
         'total_listing_count_yy',\
         'pending_ratio',\
         'pending_ratio_mm',\
         'pending_ratio_yy'], axis=1, inplace=True)

/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
ri.drop([ \
         'flag',\
         'zip_name',\
         'active_listing_count',\
         'active_listing_count_mm',\
         'active_listing_count_yy',\
         'median_listing_price_mm',\
         'median_listing_price_yy',\
         'median_days_on_market_mm',\
         'median_days_on_market_yy',\
         'new_listing_count',\
         'new_listing_count_mm',\
         'new_listing_count_yy',\
         'price_increased_count',\
         'price_increased_count_mm',\
         'price_increased_count_yy',\
         'price_reduced_count',\
         'price_reduced_count_mm',\
         'price_reduced_count_yy',\
         'pending_listing_count',\
         'pending_listing_count_mm',\
         'pending_listing_count_yy',\
         'pending_ratio_yy',\
         'median_square_feet',\
         'median_square_feet_mm',\
         'median_square_feet_yy',\
         'average_listing_price',\
         'average_listing_price_mm',\
         'average_listing_price_yy',\
         'total_listing_count',\
         'median_listing_price_per_square_feet_mm',\
         'median_listing_price_per_square_feet_yy',\
         'total_listing_count_mm',\
         'total_listing_count_yy',\
         'pending_ratio',\
         'pending_ratio_mm',\
         'pending_ratio_yy'], axis=1, inplace=True)

In [11]:
nh.drop([ \
         'flag',\
         'zip_name',\
         'active_listing_count',\
         'active_listing_count_mm',\
         'active_listing_count_yy',\
         'median_listing_price_mm',\
         'median_listing_price_yy',\
         'median_days_on_market_mm',\
         'median_days_on_market_yy',\
         'new_listing_count',\
         'new_listing_count_mm',\
         'new_listing_count_yy',\
         'price_increased_count',\
         'price_increased_count_mm',\
         'price_increased_count_yy',\
         'price_reduced_count',\
         'price_reduced_count_mm',\
         'price_reduced_count_yy',\
         'pending_listing_count',\
         'pending_listing_count_mm',\
         'pending_listing_count_yy',\
         'pending_ratio_yy',\
         'median_square_feet',\
         'median_square_feet_mm',\
         'median_square_feet_yy',\
         'average_listing_price',\
         'average_listing_price_mm',\
         'average_listing_price_yy',\
         'total_listing_count',\
         'median_listing_price_per_square_feet_mm',\
         'median_listing_price_per_square_feet_yy',\
         'total_listing_count_mm',\
         'total_listing_count_yy',\
         'pending_ratio',\
         'pending_ratio_mm',\
         'pending_ratio_yy'], axis=1, inplace=True)

In [12]:
ma

,month_date_yyyymm,postal_code,median_listing_price,median_days_on_market,median_listing_price_per_square_feet,town,state
0,202003,1001,372388.5,63.5,183.076933,agawam,ma
1,202003,1002,475050.0,30.5,214.202642,amherst,ma
2,202003,1007,379950.0,49.0,171.507353,belchertown,ma
3,202003,1020,250050.0,62.5,175.215732,chicopee,ma
4,202003,1028,379950.0,41.5,160.787057,east longmeadow,ma
...,...,...,...,...,...,...,...
594284,201607,2769,559950.0,82.0,209.256449,rehoboth,ma
594285,201607,2771,450049.0,80.0,201.155822,seekonk,ma
594286,201607,2777,399950.0,67.0,209.664537,swansea,ma
594287,201607,2780,244950.0,54.0,157.601978,taunton,ma
594288,201607,2790,522550.0,86.0,243.243243,westport,ma

In [13]:
ri

,month_date_yyyymm,postal_code,median_listing_price,median_days_on_market,median_listing_price_per_square_feet,town,state
269,202003,2806,599050.0,45.5,277.503998,barrington,ri
270,202003,2807,1224550.0,350.5,655.099150,block island,ri
271,202003,2809,497500.0,66.5,305.439926,bristol,ri
272,202003,2813,528050.0,52.5,289.908736,charlestown,ri
273,202003,2814,362450.0,60.5,188.400335,chepachet,ri
...,...,...,...,...,...,...,...
594337,201607,2916,269050.0,39.0,174.166252,rumford,ri
594338,201607,2917,359950.0,45.0,203.713254,smithfield,ri
594339,201607,2919,239950.0,44.0,160.875161,johnston,ri
594340,201607,2920,242850.0,33.0,170.166546,cranston,ri
594341,201607,2921,329950.0,37.0,175.489534,cranston,ri

In [24]:
nh

,month_date_yyyymm,postal_code,median_listing_price,median_days_on_market,median_listing_price_per_square_feet,town,state
319,202003,3031,589500.0,40.5,231.703967,amherst,nh
320,202003,3033,429950.0,38.0,197.393907,brookline,nh
321,202003,3036,472450.0,26.5,186.286051,chester,nh
322,202003,3038,370000.0,51.0,197.000000,derry,nh
323,202003,3042,442450.0,107.0,208.431836,epping,nh
...,...,...,...,...,...,...,...
594454,201607,3878,189950.0,54.0,114.531250,somersworth,nh
594455,201607,3882,209950.0,69.0,116.279070,effingham,nh
594456,201607,3885,439950.0,79.0,161.465482,stratham,nh
594457,201607,3886,189950.0,98.0,125.868056,tamworth,nh
594458,201607,3894,359950.0,126.0,163.883735,wolfeboro,nh

In [19]:
os.chdir('/home/jupyter/src/dataviz/hothouz/')

In [25]:
nh.to_csv('realtor_new-hampsire.csv')
ri.to_csv('realtor_rhode-island.csv')
ma.to_csv('realtor_massachusetts.csv')

In [21]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive

gauth = GoogleAuth()
gauth.CommandLineAuth() # client_secrets.json need to be in the same directory as the script
drive = GoogleDrive(gauth)

gauth = GoogleAuth()
# Try to load saved client credentials
gauth.LoadCredentialsFile("mycreds.txt")
if gauth.credentials is None:
    # Authenticate if they're not there
    gauth.CommandLineAuth() # client_secrets.json need to be in the same directory as the script
elif gauth.access_token_expired:
    # Refresh them if expired
    gauth.Refresh()
else:
    # Initialize the saved creds
    gauth.Authorize()
# Save the current credentials to a file
gauth.SaveCredentialsFile("mycreds.txt")

drive = GoogleDrive(gauth)

Go to the following link in your browser:

    https://accounts.google.com/o/oauth2/auth?client_id=890426931364-72ate30hsru3tu2orq40tvacod40f6i8.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Enter verification code:  4/zAGSCaOK5tALFkInBFIVDi3DnCD2gZnuZYGkE5FalL3xJG3TKrxBIi8

Authentication successful.

In [22]:
# View all folders and file in your Google Drive
fileList = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file in fileList:
  print('Title: %s, ID: %s' % (file['title'], file['id']))

Title: rei, ID: 1OO_10bDcRTSf_4RTv735J48jLmeeB3rg
Title: test, ID: 1tqPUDMzxRny_HYLw3KxGvHRHrp7GHwSoSlLz6CjuT8w
Title: wordclouds, ID: 1d3lWxkSy4QmbVuzaiqRiuj3GUOhaTvHw

In [23]:
# View all folders and file in your Google Drive
fileList = drive.ListFile({'q': "'1OO_10bDcRTSf_4RTv735J48jLmeeB3rg' in parents and trashed=false"}).GetList()
for file in fileList:
  print('Title: %s, ID: %s' % (file['title'], file['id']))

In [30]:
fid = '1OO_10bDcRTSf_4RTv735J48jLmeeB3rg'
def uploadDrive (x):
    f = drive.CreateFile({"parents": [{"kind": "drive#fileLink", "id": fid}]})
    f.SetContentFile(x)
    f.Upload({'convert': True})

In [31]:
uploadDrive('realtor_new-hampsire.csv')