In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gs://datacamp-202518.appspot.com/data/re/zillow/DaysOnZillow_City.csv')

In [5]:
df.shape

(2714, 127)

In [6]:
df.head(10)

,SizeRank,RegionID,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,1,6181,New York,City,NY,196.0,190.0,212.0,213.0,210.0,...,175.0,157.0,153.5,155.0,163.0,171.0,180.0,181.0,183.0,178.0
1,2,12447,Los Angeles,City,CA,118.0,136.0,127.0,111.0,85.0,...,61.0,62.0,64.0,66.5,69.0,71.0,69.0,75.0,85.0,74.0
2,3,39051,Houston,City,TX,133.0,137.0,134.0,112.0,92.5,...,71.0,70.0,67.0,71.0,81.0,86.0,92.0,94.0,104.0,99.0
3,4,17426,Chicago,City,IL,186.0,180.5,194.0,186.0,178.0,...,68.0,76.0,84.0,87.0,98.0,102.0,98.0,110.0,126.0,133.0
4,5,6915,San Antonio,City,TX,101.0,110.0,121.0,110.0,104.0,...,61.0,61.0,60.0,62.0,70.0,76.0,79.0,84.0,92.0,91.0
5,6,13271,Philadelphia,City,PA,127.0,139.0,146.5,146.0,131.0,...,78.0,76.0,83.0,84.0,84.0,89.0,84.0,87.0,96.0,102.0
6,7,40326,Phoenix,City,AZ,108.0,109.0,115.0,110.0,104.0,...,57.0,59.0,59.0,57.0,54.0,55.0,53.0,56.0,62.0,54.0
7,8,18959,Las Vegas,City,NV,117.0,124.0,131.0,117.0,118.0,...,71.0,67.0,70.0,75.0,75.0,77.0,78.0,82.0,91.0,88.0
8,9,54296,San Diego,City,CA,103.0,112.0,95.5,105.0,83.0,...,53.0,55.0,55.0,57.0,60.0,59.0,60.0,65.0,72.0,58.0
9,10,38128,Dallas,City,TX,136.0,136.0,132.0,118.0,104.0,...,65.0,65.0,68.0,71.0,76.0,84.0,75.0,91.5,96.0,97.0

In [7]:
ma = df[df["StateName"] == "MA"]

In [8]:
ma.shape

(93, 127)

In [9]:
ma

,SizeRank,RegionID,RegionName,RegionType,StateName,2010-01,2010-02,2010-03,2010-04,2010-05,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
25,26,44269,Boston,City,MA,161.0,147.0,150.0,160.0,96.0,...,64.0,66.0,67.5,72.0,83.0,71.0,67.0,84.0,105.0,120.0
153,154,14724,Worcester,City,MA,149.5,142.0,166.0,131.0,178.5,...,59.0,60.0,58.0,63.0,64.5,52.0,59.0,66.0,75.0,82.5
195,196,7221,Springfield,City,MA,NaN,NaN,NaN,NaN,NaN,...,68.0,60.0,67.0,59.0,70.0,67.0,72.0,73.0,78.0,110.5
326,326,25659,Lowell,City,MA,NaN,NaN,NaN,NaN,NaN,...,54.0,63.0,66.0,56.0,65.0,62.0,62.0,70.0,75.5,73.0
333,333,3934,Cambridge,City,MA,NaN,NaN,NaN,NaN,NaN,...,48.0,62.0,56.0,61.0,61.0,44.5,63.5,72.0,72.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2455,2406,397669,Athol,City,MA,NaN,NaN,NaN,NaN,NaN,...,53.0,68.0,77.0,76.0,59.0,79.5,65.0,93.0,105.0,135.0
2513,2460,39684,Maynard,City,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,55.5,54.0,63.5,68.0,58.0,70.0,75.0,82.0,84.0
2550,2497,25058,Harwich,City,MA,NaN,NaN,NaN,NaN,NaN,...,125.0,84.5,75.0,108.0,83.0,98.5,103.0,128.5,147.0,173.0
2596,2542,395473,Millis,City,MA,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,70.0,82.5,74.5,88.5,104.5,114.0
2701,2647,398808,Provincetown,City,MA,NaN,NaN,NaN,NaN,NaN,...,114.0,92.5,123.0,127.0,140.0,184.0,146.0,174.0,124.5,163.0

      SizeRank  RegionID    RegionName RegionType StateName  2010-01  2010-02  \
25          26     44269        Boston       City        MA    161.0    147.0
153        154     14724     Worcester       City        MA    149.5    142.0
195        196      7221   Springfield       City        MA      NaN      NaN
326        326     25659        Lowell       City        MA      NaN      NaN
333        333      3934     Cambridge       City        MA      NaN      NaN
...        ...       ...           ...        ...       ...      ...      ...
2455      2406    397669         Athol       City        MA      NaN      NaN
2513      2460     39684       Maynard       City        MA      NaN      NaN
2550      2497     25058       Harwich       City        MA      NaN      NaN
2596      2542    395473        Millis       City        MA      NaN      NaN
2701      2647    398808  Provincetown       City        MA      NaN      NaN

      2010-03  2010-04  2010-05  ...  2019-05  2019-06  2019-07  2019-08  \
25      150.0    160.0     96.0  ...     64.0     66.0     67.5     72.0
153     166.0    131.0    178.5  ...     59.0     60.0     58.0     63.0
195       NaN      NaN      NaN  ...     68.0     60.0     67.0     59.0
326       NaN      NaN      NaN  ...     54.0     63.0     66.0     56.0
333       NaN      NaN      NaN  ...     48.0     62.0     56.0     61.0
...       ...      ...      ...  ...      ...      ...      ...      ...
2455      NaN      NaN      NaN  ...     53.0     68.0     77.0     76.0
2513      NaN      NaN      NaN  ...      NaN     55.5     54.0     63.5
2550      NaN      NaN      NaN  ...    125.0     84.5     75.0    108.0
2596      NaN      NaN      NaN  ...      NaN      NaN      NaN      NaN
2701      NaN      NaN      NaN  ...    114.0     92.5    123.0    127.0

      2019-09  2019-10  2019-11  2019-12  2020-01  2020-02
25       83.0     71.0     67.0     84.0    105.0    120.0
153      64.5     52.0     59.0     66.0     75.0     82.5
195      70.0     67.0     72.0     73.0     78.0    110.5
326      65.0     62.0     62.0     70.0     75.5     73.0
333      61.0     44.5     63.5     72.0     72.0     48.0
...       ...      ...      ...      ...      ...      ...
2455     59.0     79.5     65.0     93.0    105.0    135.0
2513     68.0     58.0     70.0     75.0     82.0     84.0
2550     83.0     98.5    103.0    128.5    147.0    173.0
2596     70.0     82.5     74.5     88.5    104.5    114.0
2701    140.0    184.0    146.0    174.0    124.5    163.0

[93 rows x 127 columns]