In [1]:
import pandas as pd
import numpy as np

In [2]:
# read full dataframe
df = pd.read_csv('gs://datacamp-202518.appspot.com/data/claims/beneficiary/2010_Basic_Stand_Alone_Carrier_Line_Items_PUF.csv')

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
df.shape

(2801660, 11)

In [10]:
df.nunique()

BENE_SEX_IDENT_CD               2
BENE_AGE_CAT_CD                 6
CAR_LINE_ICD9_DGNS_CD        1233
CAR_LINE_HCPCS_CD            4900
CAR_LINE_BETOS_CD              98
CAR_LINE_SRVC_CNT             167
CAR_LINE_PRVDR_TYPE_CD          6
CAR_LINE_CMS_TYPE_SRVC_CD      20
CAR_LINE_PLACE_OF_SRVC_CD      28
CAR_HCPS_PMT_AMT               80
CAR_LINE_CNT                 4542
dtype: int64

In [11]:
df.dtypes

BENE_SEX_IDENT_CD             int64
BENE_AGE_CAT_CD               int64
CAR_LINE_ICD9_DGNS_CD        object
CAR_LINE_HCPCS_CD            object
CAR_LINE_BETOS_CD            object
CAR_LINE_SRVC_CNT             int64
CAR_LINE_PRVDR_TYPE_CD        int64
CAR_LINE_CMS_TYPE_SRVC_CD    object
CAR_LINE_PLACE_OF_SRVC_CD     int64
CAR_HCPS_PMT_AMT              int64
CAR_LINE_CNT                  int64
dtype: object

In [52]:
df

,BENE_SEX_IDENT_CD,BENE_AGE_CAT_CD,CAR_LINE_ICD9_DGNS_CD,CAR_LINE_HCPCS_CD,CAR_LINE_BETOS_CD,CAR_LINE_SRVC_CNT,CAR_LINE_PRVDR_TYPE_CD,CAR_LINE_CMS_TYPE_SRVC_CD,CAR_LINE_PLACE_OF_SRVC_CD,CAR_HCPS_PMT_AMT,CAR_LINE_CNT
0,1,1,NaN,99213,M1B,1,1,1,11,55,2
1,1,1,NaN,A0425,O1A,1,3,D,41,5,46
2,1,1,NaN,A0425,O1A,1,3,D,41,10,47
3,1,1,NaN,A0425,O1A,2,3,D,41,10,363
4,1,1,NaN,A0425,O1A,2,3,D,41,15,12
...,...,...,...,...,...,...,...,...,...,...,...
2801655,2,6,V82,99213,M1B,1,1,1,11,55,1
2801656,2,6,V82,A0429,O1A,1,3,D,41,275,7
2801657,2,6,V82,G0328,T1H,1,1,5,11,25,8
2801658,2,6,V86,80053,T1B,1,5,5,81,15,1
2801659,2,6,V88,76856,I3B,1,1,4,22,30,2

In [58]:
df.CAR_LINE_ICD9_DGNS_CD.nunique()

1233

In [59]:
icds = (df.CAR_LINE_ICD9_DGNS_CD.unique())
s = pd.Series(icds)
s.to_csv('/home/jupyter/data/cms/icds.csv',header=None, index=None)

In [22]:
# V codes are "Factors influencing health status and contact with health services"
abase = df[
    df.CAR_LINE_ICD9_DGNS_CD=="V82"]

In [23]:
abase.shape

(700, 11)

In [35]:
df['CAR_LINE_ICD9_DGNS_CD'].str.match('\d{3,3}', na=False)

0          False
1          False
2          False
3          False
4          False
           ...
2801655    False
2801656    False
2801657    False
2801658    False
2801659    False
Name: CAR_LINE_ICD9_DGNS_CD, Length: 2801660, dtype: bool

In [64]:
slimmer = df.loc[
    # match anything that has 3 digits, dropping those "V" and "E" codes
    df.CAR_LINE_ICD9_DGNS_CD.str.contains('\d{3,3}', na=False)
    ,:]
slimmer.shape

(705198, 11)

In [65]:
slimmer

,BENE_SEX_IDENT_CD,BENE_AGE_CAT_CD,CAR_LINE_ICD9_DGNS_CD,CAR_LINE_HCPCS_CD,CAR_LINE_BETOS_CD,CAR_LINE_SRVC_CNT,CAR_LINE_PRVDR_TYPE_CD,CAR_LINE_CMS_TYPE_SRVC_CD,CAR_LINE_PLACE_OF_SRVC_CD,CAR_HCPS_PMT_AMT,CAR_LINE_CNT
196608,1,1,787,44500,P6C,1,1,2,21,20,1
196609,1,1,787,45300,P8C,1,1,2,11,80,1
196610,1,1,787,45330,P8C,1,1,2,11,100,1
196611,1,1,787,45330,P8C,1,1,2,11,125,2
196612,1,1,787,45330,P8C,1,1,2,21,45,1
...,...,...,...,...,...,...,...,...,...,...,...
2791556,2,6,E934,36415,T1A,1,5,5,81,5,14
2791557,2,6,E934,85610,T1H,1,1,5,11,5,50
2791558,2,6,E942,80162,T1H,1,5,5,81,20,7
2791559,2,6,E942,99232,M2B,1,1,1,21,55,1
2791560,2,6,E987,93010,T2A,1,1,5,23,5,1

In [66]:
slimmer.CAR_LINE_ICD9_DGNS_CD.nunique()

495

In [67]:
print (slimmer.CAR_LINE_ICD9_DGNS_CD.unique())

['787' '788' '789' '790' '791' '792' '793' '794' '795' '796' '797' '798'
 '799' '800' '801' '802' '803' '804' '805' '806' '807' '808' '810' '811'
 '812' '813' '814' '815' '816' '817' '818' '820' '821' '822' '823' '824'
 '825' '826' '827' '828' '829' '830' '831' '832' '833' '834' '835' '836'
 '837' '838' '839' '840' '841' '842' '843' '844' '845' '846' '847' '848'
 '850' '851' '852' '853' '854' '860' '861' '862' '863' '864' '865' '866'
 '867' '868' '869' '870' '871' '872' '873' '874' '875' '876' '877' '878'
 '879' '880' '881' '882' '883' '884' '885' '886' '887' '890' '891' '892'
 '893' '894' '895' '896' '897' '900' '901' '902' '904' '905' '906' '907'
 '908' '909' '910' '911' '912' '913' '914' '915' '916' '917' '918' '919'
 '920' '921' '922' '923' '924' '925' '927' '928' '930' '931' '933' '934'
 '935' '936' '937' '938' '939' '940' '941' '942' '943' '944' '945' '946'
 '947' '948' '949' '952' '953' '955' '956' '957' '958' '959' '960' '962'
 '963' '964' '965' '966' '967' '968' '969' '970' '971' '972' '975' '977'
 '980' '982' '983' '984' '985' '986' '987' '989' '990' '991' '992' '993'
 '994' '995' '996' '997' '998' '999' 'E819' 'E888' 'E906' 'E933' 'E934'
 'E936' 'E939' 'E942' '003' '005' '006' '007' '008' '009' '011' '017'
 '031' '034' '035' '036' '038' '039' '040' '041' '042' '045' '047' '049'
 '052' '053' '054' '057' '061' '066' '070' '075' '077' '078' '079' '082'
 '087' '088' '094' '097' '099' '110' '111' '112' '114' '115' '117' '127'
 '129' '130' '131' '132' '133' '135' '136' '138' '140' '141' '142' '143'
 '144' '145' '146' '147' '148' '149' '150' '151' '152' '153' '154' '155'
 '156' '157' '158' '159' '160' '161' '162' '163' '164' '165' '170' '171'
 '172' '173' '175' '176' '185' '186' '187' '188' '189' '190' '191' '192'
 '193' '194' '195' '196' '197' '198' '715' '716' '717' '718' '719' '720'
 '721' '722' '723' '724' '725' '726' '727' '728' '729' '730' '731' '732'
 '733' '734' '735' '736' '737' '738' '739' '742' '743' '744' '745' '746'
 '747' '748' '750' '751' '752' '753' '754' '755' '756' '757' '758' '759'
 '760' '768' '769' '770' '780' '781' '782' '783' '784' '785' '786' '001'
 '074' '091' '098' '174' '199' '200' '201' '202' '203' '204' '205' '206'
 '207' '208' '209' '210' '211' '212' '213' '214' '215' '216' '217' '222'
 '223' '224' '225' '226' '227' '228' '229' '230' '231' '232' '233' '234'
 '235' '236' '237' '238' '239' '240' '241' '242' '243' '244' '245' '246'
 '249' '250' '251' '252' '253' '255' '257' '258' '259' '260' '261' '262'
 '263' '264' '265' '266' '268' '269' '270' '271' '272' '273' '274' '275'
 '276' '277' '278' '279' '280' '281' '282' '283' '284' '285' '286' '287'
 '288' '289' '290' '291' '292' '293' '294' '295' '296' '297' '298' '300'
 '301' '302' '303' '304' '305' '306' '307' '308' '309' '903' '932' '090'
 '134' '767' 'E885' '951' 'E884' '015' '027' '033' '046' '051' '072' '092'
 '095' '123' '128' '179' '180' '182' '183' '184' '218' '219' '220' '221'
 '254' '256' '267' '974' '976' 'E905' 'E950' '004' '010' '093' '809' '961'
 'E931' '002' '771' '775' 'E987']

In [47]:
utibase = slimmer.loc[
    (slimmer.CAR_LINE_ICD9_DGNS_CD.astype(int) == 999)
#    (slimmer.CAR_LINE_ICD9_DGNS_CD.astype(int) >= 580) & (slimmer.CAR_LINE_ICD9_DGNS_CD.astype(int) <= 629)
]
utibase.shape

(693, 11)