In [1]:
import pandas as pd

In [3]:
# read full dataframe
df = pd.read_csv('gs://datacamp-202518.appspot.com/data/claims/npdb/NPDB2001.CSV')

/home/xavier/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (18,19,20,22,23,25,26,33,34,35,36,37,38) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(1515680, 54)

In [5]:
df.head(10)

,SEQNO,RECTYPE,REPTYPE,ORIGYEAR,WORKSTAT,WORKCTRY,HOMESTAT,HOMECTRY,LICNSTAT,LICNFELD,...,ACCRRPTS,NPMALRPT,NPLICRPT,NPCLPRPT,NPPSMRPT,NPDEARPT,NPEXCRPT,NPGARPT,NPCTMRPT,FUNDPYMT
0,1,A,301,1991,OK,NaN,NaN,NaN,OK,10,...,0,0,2,0,0,0,0,0,0,NaN
1,2,A,301,1991,OK,NaN,NaN,NaN,OK,10,...,0,0,7,0,0,0,1,0,0,NaN
2,4,A,301,1991,MA,NaN,NaN,NaN,MA,15,...,0,1,1,0,0,0,2,0,0,NaN
3,6,A,301,1990,OK,NaN,NaN,NaN,OK,10,...,0,0,2,0,0,0,0,0,0,NaN
4,8,A,301,1990,OK,NaN,NaN,NaN,OK,10,...,0,0,8,0,1,0,0,0,0,NaN
5,9,A,301,1990,OK,NaN,OK,NaN,OK,10,...,0,1,3,0,0,0,0,0,0,NaN
6,12,A,301,1990,VA,NaN,IL,NaN,VA,10,...,0,0,10,0,0,0,0,0,0,NaN
7,13,A,301,1990,KY,NaN,KY,NaN,DC,10,...,0,0,8,0,0,0,0,0,0,NaN
8,14,A,301,1990,OH,NaN,NaN,NaN,OH,30,...,0,0,1,0,0,0,0,0,0,NaN
9,15,A,301,1990,OH,NaN,NaN,NaN,OH,30,...,0,0,3,0,0,0,0,0,0,NaN

In [6]:
list(df)

['SEQNO',
 'RECTYPE',
 'REPTYPE',
 'ORIGYEAR',
 'WORKSTAT',
 'WORKCTRY',
 'HOMESTAT',
 'HOMECTRY',
 'LICNSTAT',
 'LICNFELD',
 'PRACTAGE',
 'GRAD',
 'ALGNNATR',
 'ALEGATN1',
 'ALEGATN2',
 'OUTCOME',
 'MALYEAR1',
 'MALYEAR2',
 'PAYMENT',
 'TOTALPMT',
 'PAYNUMBR',
 'NUMBPRSN',
 'PAYTYPE',
 'PYRRLTNS',
 'PTAGE',
 'PTGENDER',
 'PTTYPE',
 'AAYEAR',
 'AACLASS1',
 'AACLASS2',
 'AACLASS3',
 'AACLASS4',
 'AACLASS5',
 'BASISCD1',
 'BASISCD2',
 'BASISCD3',
 'BASISCD4',
 'BASISCD5',
 'AALENTYP',
 'AALENGTH',
 'AAEFYEAR',
 'AASIGYR',
 'TYPE',
 'PRACTNUM',
 'ACCRRPTS',
 'NPMALRPT',
 'NPLICRPT',
 'NPCLPRPT',
 'NPPSMRPT',
 'NPDEARPT',
 'NPEXCRPT',
 'NPGARPT',
 'NPCTMRPT',
 'FUNDPYMT']

In [12]:
df.BASISCD2.head(10)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
Name: BASISCD2, dtype: object