In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure, show
import seaborn as sns

In [29]:
# setup directories

# datadir = '/home/xavier/data/claims/'
datadir = '/Users/xthomas/Documents/data/data.cms.gov_Medicare-Physician-Supplier/expanded/'
datadir2 = '/Users/xthomas/Documents/data/data.medicaid.gov_drug.utilization/'

# year12 = 'Medicare_Provider_Util_Payment_PUF_CY2012.txt'
# year13 = 'Medicare_Provider_Util_Payment_PUF_CY2013.txt'
# year14 = 'Medicare_Provider_Util_Payment_PUF_CY2014.txt'
year15 = 'Medicare_Provider_Util_Payment_PUF_CY2015.txt'
year17 = 'Drug_Utilization_2017_-_New_Hampshire.csv'

# Medicare Provider Utilization and Payment Data: Physician and Other Supplier PUF CY2015


> The Centers for Medicare & Medicaid Services (CMS) has prepared a public data set, the Provider Utilization and Payment Data Physician and Other Supplier Public Use File (herein referred to as “Physician and Other Supplier PUF”), with information on services and procedures provided to Medicare beneficiaries by physicians and other healthcare professionals. T

+ this Public Dataset [can be downloaded](https://data.cms.gov/Medicare-Physician-Supplier/Medicare-Provider-Utilization-and-Payment-Data-Phy/sk9b-znav)
+ What's in this DataSet?

| Rows | Columns | Each row is a | 
| - - - | - - - | - - - | 
| 9.5M | 26 | Physician/HCPCS |

In [5]:
# load all physican data
df15 = pd.read_csv(datadir + year15, sep='\t', lineterminator='\n')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (10,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df15.shape

(9497892, 26)

In [9]:
list(df15)

['npi',
 'nppes_provider_last_org_name',
 'nppes_provider_first_name',
 'nppes_provider_mi',
 'nppes_credentials',
 'nppes_provider_gender',
 'nppes_entity_code',
 'nppes_provider_street1',
 'nppes_provider_street2',
 'nppes_provider_city',
 'nppes_provider_zip',
 'nppes_provider_state',
 'nppes_provider_country',
 'provider_type',
 'medicare_participation_indicator',
 'place_of_service',
 'hcpcs_code',
 'hcpcs_description',
 'hcpcs_drug_indicator',
 'line_srvc_cnt',
 'bene_unique_cnt',
 'bene_day_srvc_cnt',
 'average_Medicare_allowed_amt',
 'average_submitted_chrg_amt',
 'average_Medicare_payment_amt',
 'average_Medicare_standard_amt\r']

In [11]:
df15.head(5)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
0,1,CPT copyright 2014 American Medical Associatio...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,23.0,23.0,23.0,72.680000,328.000000,54.502609,55.280869565\r
2,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99219,Hospital observation care typically 50 minutes,N,18.0,18.0,18.0,135.850000,614.000000,100.958889,102.34888889\r
3,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99221,"Initial hospital inpatient care, typically 30 ...",N,59.0,58.0,59.0,101.365085,333.288136,79.469661,80.859830508\r
4,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99222,"Initial hospital inpatient care, typically 50 ...",N,132.0,130.0,132.0,139.010455,356.492424,107.933409,107.96962121\r

In [19]:
caredischarge = df15[df15["hcpcs_code"] == "99217"]
caredischarge.shape

(33097, 26)

In [21]:
caredischarge

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
1,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,99217,Hospital observation care discharge,N,23.0,23.0,23.0,72.680000,328.000000,54.502609,55.280869565\r
32,1003000407,GIRARDI,DAVID,J,D.O.,M,I,100 HOSPITAL RD,NaN,BROOKVILLE,...,99217,Hospital observation care discharge,N,87.0,84.0,87.0,71.720460,99.942529,56.100460,57.622413793\r
808,1003006586,MAREEDU,JYOTSNA,NaN,M.D.,F,I,18101 PRINCE PHILIP DR,NaN,OLNEY,...,99217,Hospital observation care discharge,N,75.0,73.0,75.0,81.712000,141.666667,63.264133,57.632266667\r
894,1003007022,GUPTA,MAMTA,NaN,MD,F,I,3600 GASTON AVE,SUITE 550,DALLAS,...,99217,Hospital observation care discharge,N,17.0,17.0,17.0,72.975882,346.000000,57.212353,57.75\r
1011,1003007295,UZOWULU,OBINNA,C,M.D.,M,I,22250 BULVERDE RD,SUITE 111,SAN ANTONIO,...,99217,Hospital observation care discharge,N,17.0,17.0,17.0,70.903529,162.000000,52.321176,54.518823529\r
1231,1003008590,CHIRUMAMILLA,RADHA,NaN,M.D.,F,I,600 COFFEE RD,NaN,MODESTO,...,99217,Hospital observation care discharge,N,20.0,20.0,20.0,75.659000,203.000000,59.315000,57.75\r
1568,1003011214,BAJAJ,BHAVANDEEP,S,M.D.,M,I,3345 WILKENS AVENUE,SUITE L10,BALTIMORE,...,99217,Hospital observation care discharge,N,49.0,49.0,49.0,76.292857,153.877551,59.052245,58.045918367\r
1954,1003012451,MITRA,RANJANA,N,MD,F,I,850 KEMPSVILLE RD,NaN,NORFOLK,...,99217,Hospital observation care discharge,N,44.0,44.0,44.0,71.579091,144.818182,56.119091,57.75\r
2037,1003012931,LOPEZ,NICETO,NaN,MD,M,I,801 YGNACIO VALLEY RD,SUITE 250,WALNUT CREEK,...,99217,Hospital observation care discharge,N,12.0,12.0,12.0,78.032500,190.000000,61.177500,57.750833333\r
2385,1003013723,FIELDS,JUSTIN,E,MD,M,I,950 N PORTER,SUITE 300,NORMAN,...,99217,Hospital observation care discharge,N,24.0,23.0,24.0,69.803333,150.000000,52.443750,58.351666667\r
2565,1003013921,BAHL,AMIT,NaN,"MD, MPH",M,I,3601 W 13 MILE RD,WILLIAM BEAUMONT HOSPITAL,ROYAL OAK,...,99217,Hospital observation care discharge,N,13.0,13.0,13.0,74.323846,117.000000,58.269231,57.75\r
3417,1003017963,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,...,99217,Hospital observation care discharge,N,17.0,17.0,17.0,68.755294,133.000000,52.164706,58.599411765\r
3716,1003019043,GOEKE,KATHRYN,B,MD,F,I,11600 W 2ND PL,NaN,LAKEWOOD,...,99217,Hospital observation care discharge,N,39.0,39.0,39.0,74.039744,150.717949,58.048718,57.75\r
3764,1003019423,MARX,JULIE,A,D.O.,F,I,2525 GLENN HENDREN DR,NaN,LIBERTY,...,99217,Hospital observation care discharge,N,86.0,83.0,86.0,72.134651,131.093023,54.119767,56.708488372\r
5593,1003029869,MEHTA,NEERAJ,NaN,MD,M,I,1022 1ST ST N STE 500,NaN,ALABASTER,...,99217,Hospital observation care discharge,N,19.0,19.0,19.0,69.472632,82.947368,50.302632,55.696842105\r
5715,1003030693,MADDOX,WILLIAM,R,M.D.,M,I,701 PRINCETON AVE SW,NaN,BIRMINGHAM,...,99217,Hospital observation care discharge,N,11.0,11.0,11.0,70.462727,158.454545,45.189091,47.808181818\r
5720,1003030750,SCHLOESSER,BRETTON,L,M.D.,M,I,5333 MCAULEY DR,NaN,YPSILANTI,...,99217,Hospital observation care discharge,N,11.0,11.0,11.0,74.378182,131.000000,58.311818,57.75\r
5901,1003032111,GUPTA,VIKAS,NaN,MD,M,I,1020 HITT ST,NaN,COLUMBIA,...,99217,Hospital observation care discharge,N,23.0,23.0,23.0,69.666522,169.434783,53.529565,58.377826087\r
6150,1003034455,MESIHA,HANY,S,MD,M,I,1234 NAPIER AVE,NaN,SAINT JOSEPH,...,99217,Hospital observation care discharge,N,25.0,24.0,25.0,71.760400,178.000000,56.259200,57.75\r
6516,1003037615,STONE,JESSICA,A,MD,F,I,810 RAVEN HILL DRIVE,NaN,ATCHISON,...,99217,Hospital observation care discharge,N,21.0,20.0,21.0,69.916667,140.000000,42.596190,45.673333333\r
6774,1003040544,VENKATRAMAN,PREETI,NaN,M.B.B.S.,F,I,601 E 15TH ST,NaN,AUSTIN,...,99217,Hospital observation care discharge,N,60.0,60.0,60.0,70.925833,179.052667,52.550500,56.214666667\r
7009,1003041831,CARROTHERS,IRENE,A,M.D.,F,I,5252 W UNIVERSITY DR,NaN,MCKINNEY,...,99217,Hospital observation care discharge,N,66.0,65.0,66.0,70.780000,145.000000,55.490000,57.75\r
7398,1003043746,TOUHEY,JASON,G,D.O.,M,I,55 LAKE AVE N,NaN,WORCESTER,...,99217,Hospital observation care discharge,N,52.0,51.0,52.0,74.613654,124.686731,57.908269,57.75\r
7409,1003043787,ANUSIONWU,NGOZIKA,U,M.D,F,I,7500 STATE RD,NaN,CINCINNATI,...,99217,Hospital observation care discharge,N,18.0,18.0,18.0,71.480000,162.000000,56.035556,57.75\r
7501,1003044017,URALIL,SHARON,NaN,D.O.,F,I,5645 MAIN ST,NaN,FLUSHING,...,99217,Hospital observation care discharge,N,11.0,11.0,11.0,84.780909,250.000000,66.469091,57.75\r
7764,1003044934,METZGER,DAVID,NaN,MD,M,I,95 LEONARD AVE,BUILDING 2,WASHINGTON,...,99217,Hospital observation care discharge,N,30.0,29.0,30.0,75.029000,217.000000,58.823000,57.750333333\r
7841,1003045071,LONG,TIMOTHY,R,D.O.,M,I,2160 S 1ST AVE,NaN,MAYWOOD,...,99217,Hospital observation care discharge,N,54.0,54.0,54.0,78.210000,156.000000,61.320000,57.75\r
7892,1003045709,PHAM,VICTOR,N,M.D.,M,I,1653 W CONGRESS PKWY,NaN,CHICAGO,...,99217,Hospital observation care discharge,N,34.0,33.0,34.0,73.986765,162.000000,56.739706,56.487352941\r
7927,1003046004,CAPARSO,AMANDA,M,D.O.,F,I,2185 CITRACADO PKWY,NaN,ESCONDIDO,...,99217,Hospital observation care discharge,N,51.0,51.0,51.0,75.658627,204.745098,59.314706,57.75\r
8023,1003046897,HARFOUCHE,KARIM,R,MD,M,I,3907 S JOG RD,NaN,GREENACRES,...,99217,Hospital observation care discharge,N,92.0,90.0,92.0,76.437391,193.902174,59.924783,57.75\r
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9491939,1992955975,DEVINEY,STEPHANIE,NaN,CRNP,F,I,740 HIGH ST,SUITE 2001,WILLIAMSPORT,...,99217,Hospital observation care discharge,N,24.0,20.0,24.0,65.873750,197.875000,49.500000,55.6713
9491993,1992956353,AMIS,DOUGLAS,E,PA,M,I,240 S MAIN ST,NaN,WOLFEBORO,...,99217,Hospital observation care discharge,N,24.0,23.0,24.0,63.036667,155.790000,47.359167,55.7754
9492066,1992957575,HARRIS,PAIGE,C,CRNP,F,I,500 HOSPITAL DR,NaN,WETUMPKA,...,99217,Hospital observation care discharge,N,13.0,12.0,13.0,58.995385,111.000000,46.248462,57.74
9493590,1992965768,KAGAN,DAVID,NaN,MD,M,I,240 24TH AVE,NaN,SAN FRANCISCO,...,99217,Hospital observation care discharge,N,27.0,27.0,27.0,84.266667,240.000000,66.061111,57.75
9494230,1992967467,WHITE,AUTUMN,L,M.D.,F,I,1761 BEALL AVE,NaN,WOOSTER,...,99217,Hospital observation care discharge,N,40.0,40.0,40.0,70.408000,125.000000,54.139000,58.111
9494397,1992968028,MAALOUF,GRACIELA,NaN,MD,F,I,1000 WATERMAN WAY,NaN,TAVARES,...,99217,Hospital observation care discharge,N,80.0,77.0,80.0,73.524500,195.300000,56.202500,56.3103
9494431,1992968200,DENDI,UDAYASENA,R,M.D.,M,I,585 LEBANON ST,NaN,MELROSE,...,99217,Hospital observation care discharge,N,110.0,108.0,110.0,76.993091,207.909091,60.001000,57.3914
9494547,1992968960,MEENAKSHISUNDARAM,LAKSHMI,NaN,MD,F,I,6701 N CHARLES ST,NaN,TOWSON,...,99217,Hospital observation care discharge,N,21.0,21.0,21.0,77.475714,153.333333,60.737619,57.75
9494592,1992969554,CRYMES,CAMERON,A,MD,M,I,1423 N JEFFERSON AVE,#B100,SPRINGFIELD,...,99217,Hospital observation care discharge,N,60.0,60.0,60.0,69.588667,139.000000,51.100000,54.3212
9494598,1992969596,HUSSAIN,SYED,W,M.B.B.S.,M,I,100 N ACADEMY AVE,NaN,DANVILLE,...,99217,Hospital observation care discharge,N,19.0,19.0,19.0,71.681579,176.000000,54.985263,56.5374
9494639,1992969695,SCHEMP,JASON,L,MD,M,I,7383 E TANQUE VERDE RD,NaN,TUCSON,...,99217,Hospital observation care discharge,N,29.0,29.0,29.0,73.104138,111.000000,57.315517,57.75
9494793,1992970867,SODHI,NAVIK,NaN,MD,M,I,112 N 7TH ST,NaN,CHAMBERSBURG,...,99217,Hospital observation care discharge,N,100.0,96.0,100.0,71.728000,142.000000,56.041800,57.5578
9495024,1992972517,POUNDERS SAJOVITZ,LISA,G,M.D.,F,I,2 SAINT VINCENT CIR,NaN,LITTLE ROCK,...,99217,Hospital observation care discharge,N,13.0,13.0,13.0,67.718462,132.000000,53.085385,57.75
9495033,1992972541,SOWMYA,BASAVATTI,M,MD,F,I,601 N ELM ST,NaN,HIGH POINT,...,99217,Hospital observation care discharge,N,21.0,21.0,21.0,71.033333,206.142857,55.691429,57.75
9495070,1992972756,LANTORIA,GERARDO,P,MD,M,I,1380 S COLUMBIA RD,NaN,GRAND FORKS,...,99217,Hospital observation care discharge,N,18.0,14.0,18.0,71.940000,165.833333,56.402222,57.75
9495558,1992978043,SCHEVCHUCK,OLEKSANDR,NaN,M.D.,M,I,1 UNIVERSITY OF NEW MEXICO,NaN,ALBUQUERQUE,...,99217,Hospital observation care discharge,N,13.0,12.0,13.0,71.960769,183.000000,53.576923,54.9108
9495643,1992979199,GONZALEZ-ROSADO,EMMANUEL,NaN,MD,M,I,759 CHESTNUT STREET,NaN,SPRINGFIELD,...,99217,Hospital observation care discharge,N,48.0,47.0,48.0,74.665833,150.000000,58.539167,57.75
9495661,1992979215,ARRUNATEGUI-RODRIGUEZ,BRUNA,C,MD,F,I,9696 GORDON DR,NaN,HIGHLAND,...,99217,Hospital observation care discharge,N,42.0,42.0,42.0,70.281667,200.000000,53.846905,57.9907
9495769,1992980460,SHVAB,MARIA,NaN,MD,F,I,4005 ORCHARD DRIVE,NaN,MIDLAND,...,99217,Hospital observation care discharge,N,13.0,13.0,13.0,71.421538,171.076923,55.992308,57.75
9495774,1992980536,AFONSO,FERNANDO,NaN,M.D.,M,I,24 HOSPITAL AVE,NaN,DANBURY,...,99217,Hospital observation care discharge,N,44.0,44.0,44.0,78.345909,139.000000,60.028409,56.4357
9496076,1992983688,TROSMAN,STELLA,NaN,M.D.,F,I,7950 ETIWANDA AVE APT 35107,NaN,RANCHO CUCAMONGA,...,99217,Hospital observation care discharge,N,13.0,13.0,13.0,79.190000,145.000000,62.085385,57.75
9496184,1992984785,THEIN,MYINT,NaN,MD,M,I,316 PARKVIEW PLACE,NaN,LAKELAND,...,99217,Hospital observation care discharge,N,41.0,39.0,41.0,72.427805,170.648780,55.683171,58.1022
9496195,1992984975,SNOOK,MARILYN,NaN,P.A.,F,I,1300 FRANKLIN AVE,SUITE 230-C,NORMAL,...,99217,Hospital observation care discharge,N,33.0,33.0,33.0,61.282727,175.575758,48.047273,57.4839
9496266,1992985873,LEE,JAY,J,MD,M,I,795 EL CAMINO REAL,NaN,PALO ALTO,...,99217,Hospital observation care discharge,N,20.0,20.0,20.0,82.742000,206.000000,68.044000,57.75
9496307,1992986368,LATHAM,DAVID,A,M.D.,M,I,125 NEWMAN ST,NaN,FAIRFIELD,...,99217,Hospital observation care discharge,N,31.0,31.0,31.0,70.915484,436.741935,55.594516,57.75
9497272,1992994438,RAHMAN,MOHAMMAD,M,MD,M,I,759 CHESTNUT ST,NaN,SPRINGFIELD,...,99217,Hospital observation care discharge,N,100.0,100.0,100.0,74.519500,156.840000,57.009000,56.3471
9497327,1992994974,JAMIN,CATHERINE,NaN,MD,F,I,173 B 112 STREET,NaN,ROCKAWAY PARK,...,99217,Hospital observation care discharge,N,25.0,24.0,25.0,81.512000,310.000000,58.801200,53.13
9497526,1992996417,DAMPF,PAUL,M,M.D.,M,I,1514 JEFFERSON HWY,NaN,NEW ORLEANS,...,99217,Hospital observation care discharge,N,12.0,12.0,12.0,71.540000,140.000000,51.790833,58.9533
9497681,1992997423,BOHLEN,MACKENZIE,E,PA-C,F,I,1493 CAMBRIDGE ST,EMERGENCY DEPARTMENT,CAMBRIDGE,...,99217,Hospital observation care discharge,N,13.0,13.0,13.0,65.314615,260.461538,44.754615,51.4223
9497768,1992998645,MARUPUDI,SESHASREE,NaN,MD,F,I,17198 ST LUKES WAY,STE 450,THE WOODLANDS,...,99217,Hospital observation care discharge,N,72.0,66.0,72.0,69.871111,211.000000,54.109444,57.9507

In [22]:
vivitrol = df15[df15["hcpcs_code"] == "J2315"]
vivitrol.shape

(4, 26)

In [23]:
vivitrol

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,hcpcs_code,hcpcs_description,hcpcs_drug_indicator,line_srvc_cnt,bene_unique_cnt,bene_day_srvc_cnt,average_Medicare_allowed_amt,average_submitted_chrg_amt,average_Medicare_payment_amt,average_Medicare_standard_amt
726413,1073635421,BELTZER,BLAIR,R,M.D.,M,I,705 HAMBURG TPKE,NaN,WAYNE,...,J2315,"Injection, naltrexone, depot form, 1 mg",Y,10260.0,11.0,27.0,2.906481,4.0,2.276474,2.27647
1119279,1114966454,FRIEDMAN,ROBERT ALAN,NaN,M.D.,M,I,34 FISH HOUSE RD,NaN,EAST SANDWICH,...,J2315,"Injection, naltrexone, depot form, 1 mg",Y,56.0,16.0,56.0,3.092679,30.0,2.422500,2.4225
4062079,1427198787,PATEL,VIMAL,NaN,M.D.,M,I,105 PARK ST,NaN,HYANNIS,...,J2315,"Injection, naltrexone, depot form, 1 mg",Y,27.0,11.0,27.0,3.039630,30.0,2.129259,2.12926
8223935,1861495913,LEA,ROBERT,S,MD,M,I,2449 COUNTY HIGHWAY I,NaN,CHIPPEWA FALLS,...,J2315,"Injection, naltrexone, depot form, 1 mg",Y,33410.0,27.0,88.0,2.968264,4.0,2.315874,2.31587

In [27]:
nal = df15[df15["hcpcs_description"].str.contains('naltrexone', regex = False, na=False)]
nal.shape

(4, 26)

# There is no signifigant data in this MEDICARE database
# So...let's try by state Medicaid

In [34]:
mdc17 = pd.read_csv(datadir2 + year17, lineterminator='\n')

In [35]:
mdc17.shape

(58440, 20)

In [36]:
list(mdc17)

['Utilization Type',
 'State',
 'Labeler Code',
 'Product Code',
 'Package Size',
 'Year',
 'Quarter',
 'Product Name',
 'Suppression Used',
 'Units Reimbursed',
 'Number of Prescriptions',
 'Total Amount Reimbursed',
 'Medicaid Amount Reimbursed',
 'Non Medicaid Amount Reimbursed',
 'Quarter Begin',
 'Quarter Begin Date',
 'Latitude',
 'Longitude',
 'Location',
 'NDC']

In [37]:
mdc17

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,MCOU,NH,121,595,16,2017,4,SODIUM CIT,False,7993.0,16.0,240.47,240.47,0.00,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",121059516
1,MCOU,NH,68001,244,3,2017,1,ZONISAMIDE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",68001024403
2,FFSU,NH,51079,72,20,2017,4,FUROSEMIDE,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",51079007220
3,MCOU,NH,168,163,60,2017,1,CLOBETASOL,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",168016360
4,MCOU,NH,378,2063,1,2017,1,ATENOLOL-C,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",378206301
5,FFSU,NH,47335,669,81,2017,4,UNKNOWN,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",47335066981
6,FFSU,NH,69097,865,85,2017,1,RIZATRIPTA,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",69097086585
7,FFSU,NH,603,1542,58,2017,1,POTASSIUM,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",603154258
8,MCOU,NH,24208,410,10,2017,1,OFLOXACIN,False,270.0,27.0,6380.89,6108.17,272.72,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",24208041010
9,MCOU,NH,51672,1263,3,2017,1,NYSTATIN-T,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",51672126303
10,MCOU,NH,228,2127,10,2017,1,CLONIDINE,False,9129.0,174.0,908.83,908.83,0.00,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",228212710
11,FFSU,NH,8,4001,1,2017,1,PROTONIX I,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",8400101
12,MCOU,NH,23,9321,5,2017,1,ALPHAGAN P,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",23932105
13,FFSU,NH,16729,42,1,2017,1,TACROLIMUS,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",16729004201
14,FFSU,NH,55111,123,90,2017,1,ATORVASTAT,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",55111012390
15,FFSU,NH,781,2855,60,2017,1,RANITIDINE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",781285560
16,MCOU,NH,27241,1,6,2017,1,RISPERIDON,False,12646.0,240.0,2092.53,2025.54,66.99,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",27241000106
17,MCOU,NH,16714,293,3,2017,1,AMOXICILLI,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",16714029303
18,MCOU,NH,64011,243,1,2017,1,MAKENA,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",64011024301
19,FFSU,NH,49702,202,18,2017,1,COMBIVIR,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",49702020218
20,FFSU,NH,16714,482,2,2017,1,LORATADINE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",16714048202
21,MCOU,NH,27808,37,1,2017,4,HYDROCODON,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",27808003701
22,FFSU,NH,78,383,34,2017,1,DIOVAN HCT,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",78038334
23,MCOU,NH,378,232,1,2017,1,FUROSEMIDE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",378023201
24,MCOU,NH,23155,292,51,2017,1,CETIRIZINE,False,54453.0,319.0,3205.69,3126.68,79.01,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",23155029251
25,FFSU,NH,591,2070,30,2017,1,LIDOCAINE-,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",591207030
26,MCOU,NH,60505,3276,3,2017,1,OLANZAPINE,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",60505327603
27,MCOU,NH,65862,71,50,2017,1,AMOXICILLI,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65862007150
28,FFSU,NH,68462,536,70,2017,1,IMIQUIMOD,True,NaN,NaN,NaN,NaN,NaN,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",68462053670
29,MCOU,NH,59148,36,13,2017,4,REXULTI,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",59148003613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58410,MCOU,NH,65162,522,10,2017,4,PROMETHAZI,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65162052210
58411,MCOU,NH,24208,910,55,2017,3,ERYTHROMYC,False,591.5,169.0,2703.02,2703.02,0.00,7/1,07/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",24208091055
58412,FFSU,NH,51079,525,1,2017,4,ONDANSETRO,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",51079052501
58413,MCOU,NH,50111,648,1,2017,4,FLUOXETINE,False,39030.0,949.0,4175.22,4175.22,0.00,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",50111064801
58414,FFSU,NH,641,928,25,2017,4,PROMETHAZI,False,39.0,19.0,66.09,66.09,0.00,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",641092825
58415,FFSU,NH,65862,228,1,2017,4,LAMOTRIGIN,False,2606.0,41.0,516.86,506.32,10.54,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65862022801
58416,MCOU,NH,67877,321,1,2017,3,IBUPROFEN,False,1125.0,17.0,200.20,200.20,0.00,7/1,07/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",67877032101
58417,MCOU,NH,527,1050,1,2017,3,ACETAZOLAM,False,2392.0,28.0,5398.02,5398.02,0.00,7/1,07/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",527105001
58418,MCOU,NH,378,6074,1,2017,4,FLUPHENAZI,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",378607401
58419,FFSU,NH,69097,813,12,2017,3,GABAPENTIN,False,3932.0,34.0,431.46,431.46,0.00,7/1,07/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",69097081312
58420,FFSU,NH,93,5553,1,2017,4,DEXMETHYLP,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",93555301
58421,MCOU,NH,69452,105,32,2017,4,MONTELUKAS,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",69452010532
58422,MCOU,NH,55111,127,1,2017,4,CIPROFLOXA,False,946.0,52.0,584.59,584.59,0.00,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",55111012701
58423,FFSU,NH,378,433,1,2017,4,BUPROPION,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",378043301
58424,MCOU,NH,49884,413,1,2017,4,URSODIOL,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",49884041301
58425,MCOU,NH,527,1768,36,2017,4,UNKNOWN,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",527176836
58426,MCOU,NH,68382,106,1,2017,3,DIVALPROEX,False,16483.0,87.0,11801.46,11801.46,0.00,7/1,07/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",68382010601
58427,FFSU,NH,3,3774,12,2017,4,OPDIVO,False,364.0,17.0,31087.72,31087.72,0.00,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",3377412
58428,MCOU,NH,173,859,14,2017,4,BREO ELLIP,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",173085914
58429,FFSU,NH,43547,270,10,2017,4,ROPINIROLE,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",43547027010
58430,MCOU,NH,68180,137,1,2017,4,ESCITALOPR,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",68180013701
58431,FFSU,NH,168,264,60,2017,4,ALCLOMETAS,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",168026460
58432,FFSU,NH,57237,2,5,2017,4,HYDROCHLOR,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",57237000205
58433,MCOU,NH,50242,51,21,2017,4,RITUXAN,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",50242005121
58434,MCOU,NH,228,2803,11,2017,4,SPIRONOLAC,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",228280311
58435,MCOU,NH,68382,792,1,2017,4,ACYCLOVIR,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",68382079201
58436,FFSU,NH,60505,142,2,2017,4,GLIPIZIDE,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",60505014202
58437,MCOU,NH,59148,8,13,2017,4,ABILIFY,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",59148000813
58438,FFSU,NH,54838,144,80,2017,4,CHILDREN'S,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",54838014480
58439,FFSU,NH,409,1316,32,2017,4,HEPARIN SO,True,NaN,NaN,NaN,NaN,NaN,10/1,10/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",409131632

In [39]:
viv = mdc17[mdc17["Product Name"].str.contains('VIVITROL', regex = False, na=False)]
viv.shape

(3, 20)

In [40]:
viv

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
4743,MCOU,NH,65757,300,1,2017,1,VIVITROL,False,100.0,100.0,131990.41,131990.41,0.0,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65757030001
20913,FFSU,NH,65757,300,1,2017,1,VIVITROL,False,26.0,26.0,34348.97,34348.97,0.0,1/1,01/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65757030001
30829,MCOU,NH,65757,300,1,2017,2,VIVITROL,False,106.0,106.0,140187.52,140187.52,0.0,4/1,04/01/2017 12:00:00 AM,43.4108,-71.5653,"(43.4108, -71.5653)",65757030001