In [49]:
import pandas as pd

In [55]:
df = pd.read_csv('/home/xavier/data/ponglog.txt', sep='\t')
df.columns = ['FULL_LOG']

In [56]:
df

                                                FULL_LOG
0      Thu  4 Jun 2020 09:28:15 EDT: 64 bytes from 69...
1      Thu  4 Jun 2020 09:28:16 EDT: 64 bytes from 69...
2      Thu  4 Jun 2020 09:28:17 EDT: 64 bytes from 69...
3      Thu  4 Jun 2020 09:28:18 EDT: 64 bytes from 69...
4      Thu  4 Jun 2020 09:28:19 EDT: 64 bytes from 69...
...                                                  ...
12033  Thu  4 Jun 2020 12:49:22 EDT: 64 bytes from 69...
12034  Thu  4 Jun 2020 12:49:23 EDT: 64 bytes from 69...
12035  Thu  4 Jun 2020 12:49:24 EDT: 64 bytes from 69...
12036  Thu  4 Jun 2020 12:49:25 EDT: 64 bytes from 69...
12037  Thu  4 Jun 2020 12:49:26 EDT: 64 bytes from 69...

[12038 rows x 1 columns]

In [57]:
df.dtypes

FULL_LOG    object
dtype: object

In [58]:
df['TIMECODE'] = df.FULL_LOG.str.extract(r'(\d{2}:\d{2}:\d{2})')

In [ ]:
def milliseconds (row):
    try:
        p = row.str.extract(r'time=(\d+\.\d+)\s ms')
        print (p)
    except:
        print ('NOPE')

In [59]:
df

                                                FULL_LOG  TIMECODE
0      Thu  4 Jun 2020 09:28:15 EDT: 64 bytes from 69...  09:28:15
1      Thu  4 Jun 2020 09:28:16 EDT: 64 bytes from 69...  09:28:16
2      Thu  4 Jun 2020 09:28:17 EDT: 64 bytes from 69...  09:28:17
3      Thu  4 Jun 2020 09:28:18 EDT: 64 bytes from 69...  09:28:18
4      Thu  4 Jun 2020 09:28:19 EDT: 64 bytes from 69...  09:28:19
...                                                  ...       ...
12033  Thu  4 Jun 2020 12:49:22 EDT: 64 bytes from 69...  12:49:22
12034  Thu  4 Jun 2020 12:49:23 EDT: 64 bytes from 69...  12:49:23
12035  Thu  4 Jun 2020 12:49:24 EDT: 64 bytes from 69...  12:49:24
12036  Thu  4 Jun 2020 12:49:25 EDT: 64 bytes from 69...  12:49:25
12037  Thu  4 Jun 2020 12:49:26 EDT: 64 bytes from 69...  12:49:26

[12038 rows x 2 columns]