In [1]:
# Finding common names (AGENCY NAMES) among multiple datasets.
# Sorting at its simplest
import pandas as pd

In [2]:
raw_A = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [12, 22, 96, 24, 37],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}

In [3]:
raw_B = {'first_name': ['Jason', 'Jenny', 'John', 'Tina', 'Amy'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 52, 36, 24, 73],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}

In [4]:
raw_C = {'first_name': ['Ricky', 'Ronny', 'John', 'Foobio', 'Chunk'],
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'],
        'age': [56, 82, 55, 73, 24],
        'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston']}

In [5]:
rawdata = [raw_A, raw_B, raw_C]

In [6]:
rawdata[0]

{'age': [12, 22, 96, 24, 37],
 'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston'],
 'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'],
 'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze']}

In [7]:
for r in rawdata:
    print (r)
    print ('\n')

{'age': [12, 22, 96, 24, 37], 'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston'], 'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy']}


{'age': [42, 52, 36, 24, 73], 'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston'], 'first_name': ['Jason', 'Jenny', 'John', 'Tina', 'Amy']}


{'age': [56, 82, 55, 73, 24], 'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 'city': ['San Francisco', 'Baltimore', 'Miami', 'Douglas', 'Boston'], 'first_name': ['Ricky', 'Ronny', 'John', 'Foobio', 'Chunk']}

In [13]:
# A function to create dataframes from a set number of series
# Step towards laoding multiple CSV files at once in a rational naming order

def makeDataframes(x):
    count = 0
    while (count < 3):
        current = x+str(count)
        print (current)
        x+str(count) = pd.DataFrame(rawdata[count], columns = ['first_name', 'last_name', 'age', 'city'])
        count += 1

In [14]:
makeDataframes('df')

df0
df1
df2

In [15]:
df0

NameError: name 'df0' is not defined