## INTENTION OF THIS WORKBOOK
This next pass will
1. Trace the growth of consultants

2. Compare the 5 yr CAGR for the different tiers of operators in marketing services

In [1]:
import pandas as pd
import re

In [2]:
# Create arrays whice define 'The Four Tiers' of marketing companies
agency_holding_companies = ['Omnicom','Interpublic','WPP','Publicis','Dentsu','Havas']
consultant_holding_companies = ['Alliance Data Systems Corp.','Accenture','Advance Publications','Deloitte','Experian','IBM Corp.','PwC']
midmarket_holding_companies = ['MDC Partners','Project WorldWide','BlueFocus Communication Group','Cheil Worldwide','Next Fifteen Communications Group','Huntsworth','Hakuhodo DY Holdings']
contender_holding_companies = ['DJE Holdings','Engine Group','Asatsu-DK','ASM','BlueFocus Communication Group','Creston','FullSix Group','Hearst Corp.','Iris Worldwide','Klick Inc.','Marc USA','Matomy Media Group','Meredith Corp.','Mother Holdings','TMP Worldwide','Viad Corp.']

In [3]:
# create dataframes for the six years we will be looking at
# by importing the 2010 thru 2015 AdAge data
raw15='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2015.csv'
raw14='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2014.csv'
raw13='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2013.csv'
raw12='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2012.csv'
raw11='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2011.csv'
raw10='/Users/xavier/Documents/src/dataviz/AgencyRevenueModels/adage-data/adage-900_2010.csv'
adage15 = pd.read_csv(raw15)
adage15.name = 'adage2015'
adage14 = pd.read_csv(raw14)
adage14.name = 'adage2014'
adage13 = pd.read_csv(raw13)
adage13.name = 'adage2013'
adage12 = pd.read_csv(raw12)
adage12.name = 'adage2012'
adage11 = pd.read_csv(raw11)
adage11.name = 'adage2011'
adage10 = pd.read_csv(raw10)
adage10.name = 'adage2010'

In [4]:
fiveyear = [adage15,adage14,adage13,adage12,adage11,adage10]

In [5]:
# type the companies, differentiating by 
# Consulting, Big Holding, etc.
"""
agency_holding_companies
consultant_holding_companies
midmarket_holding_companies
contender_holding_companies
"""
def typer(item):
    if item in agency_holding_companies:
        return ("BIGHOLD")
    elif item in consultant_holding_companies:
        return ("CONSULTANT")        
    elif item in midmarket_holding_companies:
        return ("MIDMARKET")        
    elif item in contender_holding_companies:
        return ("CONTENDERS")        
    else:
        return ("INDY")

In [6]:
# A function to RETURN two variables from AGENCY-COMPANY column
def indySubstituteSimple(x):
    parent = re.compile("\[(.*)\]")
    owned = re.compile("(.+?)\[(.*)\]")
    p = parent.search(x)
    if p:
        o = owned.search(x)
        return o.group(1),o.group(2)
    else:
        return x, "Independent"

In [7]:
# Create two new Columns that take the two outputs of the function
# Remove the bigger agency parent, e.g. 'Omnicom (child of BBDO)'
# Strip any trailing whitespaces in the names
# Transform revenue to the literal number, not 'In thousands'
# Remove the * asterisk after the agency name
def defineTiers(z):
    z['AGENCY-NAME'], z['AGENCY-OWNER'] = zip(*z['AGENCY-COMPANY'].map(indySubstituteSimple))
    z.loc[:, 'AGENCY-OWNER'] = z['AGENCY-OWNER'].apply(lambda x: re.sub(r'\([^)]*\)', '', x))
    z.loc[:, 'AGENCY-OWNER'] = z['AGENCY-OWNER'].apply(lambda x: re.sub(r'\s+$', '', x))
    z.iloc[:,2] = z.iloc[:,2].apply(lambda x: x*1000)
    z.iloc[:,4] = z.iloc[:,4].apply(lambda x: re.sub(r'\*', '', x))
    z['AGENCY-TIER'] = z['AGENCY-OWNER'].apply(typer)

In [8]:
for i in range (0,len(fiveyear),1):
    defineTiers(fiveyear[i])

In [9]:
adage15.groupby('AGENCY-TIER').size()

AGENCY-TIER
BIGHOLD       213
CONSULTANT      8
CONTENDERS     11
INDY          644
MIDMARKET      39
dtype: int64

In [10]:
adage15.groupby('AGENCY-TIER').sum()

             2015-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       23800927000  1503.8
CONSULTANT     6030425000    79.7
CONTENDERS     1255154000    96.9
INDY          14118269000  6309.7
MIDMARKET      1548381000   618.9

## Ok, very nice have the data nicely organized and typed.
#### Now let's do a 6year CAGR calculations for the various types

- - -
## Now for the growth of the consultants
#### ➜ trendlines in terms of # acquisitions for consultants and contenders?
#### ➜ what's the annual financial performance of same compared to contenders?

* FOR THE 5 TIERS
* get the count of agencies, per year
* get the sum of revenue, per year
* Also compare the top 200 within Holding to the top 200 INDY

In [13]:
adage10.groupby('AGENCY-TIER').size().to_frame(name = adage10.name).reset_index()

  AGENCY-TIER  adage2010
0     BIGHOLD        200
1  CONSULTANT          2
2  CONTENDERS         12
3        INDY        676
4   MIDMARKET         27

In [15]:
adage11.groupby('AGENCY-TIER').size().to_frame(name = adage11.name).reset_index()

  AGENCY-TIER  adage2011
0     BIGHOLD        206
1  CONTENDERS          9
2        INDY        666
3   MIDMARKET         32

In [16]:
adage12.groupby('AGENCY-TIER').size().to_frame(name = adage12.name).reset_index()

  AGENCY-TIER  adage2012
0     BIGHOLD        217
1  CONSULTANT          5
2  CONTENDERS         16
3        INDY        655
4   MIDMARKET         33

In [17]:
adage13.groupby('AGENCY-TIER').size().to_frame(name = adage13.name).reset_index()

  AGENCY-TIER  adage2013
0     BIGHOLD        226
1  CONSULTANT          7
2  CONTENDERS         17
3        INDY        659
4   MIDMARKET         31

In [18]:
adage14.groupby('AGENCY-TIER').size().to_frame(name = adage14.name).reset_index()

  AGENCY-TIER  adage2014
0     BIGHOLD        224
1  CONSULTANT          7
2  CONTENDERS         13
3        INDY        671
4   MIDMARKET         35

In [19]:
adage15.groupby('AGENCY-TIER').size().to_frame(name = adage15.name).reset_index()

  AGENCY-TIER  adage2015
0     BIGHOLD        213
1  CONSULTANT          8
2  CONTENDERS         11
3        INDY        644
4   MIDMARKET         39

In [20]:
adage10.groupby('AGENCY-TIER').sum()

             2010-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       16107497000  2114.9
CONSULTANT      818000000    30.7
CONTENDERS      516123000   179.9
INDY          12160407000  7471.6
MIDMARKET       872918000   456.3

In [21]:
adage11.groupby('AGENCY-TIER').sum()

             2011-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       17990407000  2626.2
CONTENDERS      181514000   148.0
INDY          13992716000  7080.5
MIDMARKET      1007789000   462.3

In [22]:
adage12.groupby('AGENCY-TIER').sum()

             2012-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       19208961000  1351.8
CONSULTANT     1931468000    49.5
CONTENDERS     1141138000   134.4
INDY          12209793000  9210.6
MIDMARKET      1152539000   325.9

In [23]:
adage13.groupby('AGENCY-TIER').sum()

             2013-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       20938530000  1309.6
CONSULTANT     2752680000    29.4
CONTENDERS     1466597000   189.6
INDY          12733598000  5366.9
MIDMARKET      1215638000   226.4

In [24]:
adage14.groupby('AGENCY-TIER').sum()

             2014-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       22483475000  1569.5
CONSULTANT     4462199000    33.3
CONTENDERS     1188089000   127.7
INDY          14039017000  6186.3
MIDMARKET      1452441000   432.1

In [25]:
adage15.groupby('AGENCY-TIER').sum()

             2015-REVENUE   % CHG
AGENCY-TIER
BIGHOLD       23800927000  1503.8
CONSULTANT     6030425000    79.7
CONTENDERS     1255154000    96.9
INDY          14118269000  6309.7
MIDMARKET      1548381000   618.9